

.dygraph-legend {
    /* dygraph sets styles directly inline on the element. That's a bit nasty.*/

    width: 100% !important;
    background-color: transparent !important;
    left:auto !important;
    position:inherit !important;
    text-align:right !important;
}

#beer-chart-label {
    font-weight: normal;
    text-align: right;
}

#beer-chart-controls {
    text-align: right;
    font-weight:normal;
}
#beer-chart-controls  LABEL {
    font-weight: bold;
}

.beerTemp {
    color:rgb(255, 153, 0);
}
.beerSet {
    color:rgb(255, 192, 102);
}
.fridgeTemp {
    color:rgb(70,132,238);
}
.fridgeSet {
    color:rgb(138, 177, 244);
}
.roomTemp {
    color:#aaa;
}
.state {
    color:rgb(153,0,153);
}

#chart-container {
    height:500px;
    width:960px;

}

#beer-chart {
    width: 900px;
    height:350px;
}




