.chart-container {
    height:500px;
    width:960px;
}

#curr-beer-chart {
    width: 900px;
    height:390px;
    float: left;
}

#prev-beer-chart {
    width: 900px;
    height:390px;
    float: left;
}

.dygraph-legend {
    /* dygraph sets styles directly inline on the element. That's a bit nasty.*/

    width: 100% !important;
    background-color: transparent !important;
    left:auto !important;
    position:inherit !important;
    text-align:right !important;
}

.beer-chart-label {
    font-weight: normal;
    text-align: center;
    padding: 5px 0px;
}

.beerTemp {
    color:rgb(255, 153, 0);
}
.beerSet {
    color:rgb(255, 192, 102);
}
.fridgeTemp {
    color:rgb(70,132,238);
}
.fridgeSet {
    color:rgb(138, 177, 244);
}
.roomTemp {
    color:#aaa;
}
.state {
    color:rgb(153,0,153);
}

.beer-chart-controls {
    display: block;
    float: right;
}

.beer-chart-controls button{
    height:26px;
    width: 26px;
    text-align: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display:block;
    clear:right;
}

.beer-chart-controls button span.ui-icon{
    margin-left: -2px; /* fix centering of icon for small button */
}

button.toggle-line-0,
button.toggle-line-1,
button.toggle-line-2,
button.toggle-line-3,
button.toggle-line-4{
    width: 20px;
    height: 20px;
    -moz-border-radius:24px;
    -webkit-border-radius:24px;
    border-radius:24px;
    display:block;
}

button.toggle-line-0{
    background-color:rgba(41, 170, 41, 0.5);
    border:1px solid rgba(41, 170, 41, 1);
    margin-top: 30px;
}
button.toggle-line-0:hover{
    border:2px solid rgba(41, 170, 41, 1);
}


button.toggle-line-1{
    background-color:rgba(240, 100, 100, 0.5);
    border:1px solid rgba(240, 100, 100, 1);
}
button.toggle-line-1:hover{
    border:2px solid rgba(240, 100, 100, 1);
}

button.toggle-line-2{
    background-color:rgba(89, 184, 255, 0.5);
    border:1px solid rgba(89, 184, 255, 1);
}
button.toggle-line-2:hover{
    border:2px solid rgba(89, 184, 255, 1);
}


button.toggle-line-3{
    background-color:rgba(255, 161, 76, 0.5);
    border:1px solid rgba(255, 161, 76, 1);
}
button.toggle-line-3:hover{
    border:2px solid rgba(255, 161, 76, 1);
}

button.toggle-line-4{
    background-color:rgba(170, 170, 170, 0.5);
    border:1px solid rgba(170, 170, 170, 1);
}
button.toggle-line-4:hover{
    border:2px solid rgba(170, 170, 170, 1);
}

div.staate-info{
    display: block;
}

div.state-info{
    margin-top: 10px;
}

span.state-color{
    width: 20px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    border: 1px solid #aaa;
    /* background-color is applied by JavaScript, because color is defined there */
}

span.state-name{
    font-weight:bold;
}

span.state-explanation{
    display:block;
}
