<?php
	// The default settings in config.php are overruled by the settings in config_user.php
	// To use custom settings, copy this file to config_user.php and make your changes in config_user.php
    // do not add a php closing tag, because newlines after closing tag might be included in the html

	// Do not include a trailing slash on the path
	// $scriptPath = '/home/brewpi';
